*, html, body {
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    padding: 0;
}

.llamab {
    width: 600px;
}

.llamad {
    width: 385px;
}

.header {
    margin-top: 10px;
    padding: 0;
}

#participant {
    padding: 4px;
}

.top-header {
    padding: 10px;
}

.title {
    font-weight: bold;
}

.company {
    font-family: "Comic Sans MS", serif;
}

.options {
}

.padding5-10 {
    padding: 5px 10px;
}

.main {
    margin-top: 7px;
    padding: 5px 10px;
}

.central-controller {
    margin: auto;
}

#pic-name {
    width: 90%;
    height: 25px;
    border: 1px inset;
    background-color: #c0c0c0;
    margin-left: 5%;
    font-weight: bold;
    color: #0007ca;
}

#next {
    margin-top: 5px;
    margin-left: 5%;
}

#timer {
    margin-top: 5px;
}

.bottom-controller {
    margin-top: 7px;
    padding: 10px;
}

#status {
    margin-right: 20px;
    border: 1px inset;
    height: 33px;
}

#status img {
    height: 33px;
}

#score {
    margin-right: 15px;
    border: 1px inset;
    background-color: #c0c0c0;
}

.progress-bar {
    border: 1px solid;
    margin-left: 3px;
    background-color: #808080;
}

.progress-bar-width-normal {
    width: 335px;
}

.progress-bar-width-short {
    width: 320px;
}

.progress-bar.slim {
    height: 10px;
}

.footer {
    margin-top: 7px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 13px;
}

.group-border {
    border: 1px outset;
}

.author {
    font-weight: bold;
}

.group:after {
    content: "";
    display: table;
    clear: both;
}

.padding4 {
    padding: 4px;
}

.margin-top7 {
    margin-top: 7px;
}

.blue {
    background-color: #010080;
}

.grey {
    background-color: #cbcbcb;
}

.grey2 {
    background-color: #c0c0c0;
}

.grey3 {
    background-color: #eeeeee;
}

.yellow {
    background-color: #ffff00;
}

.options input[type=text] {
    font-size: 15px;
    font-weight: bold;
}

.central-controller input[type=text] {
    font-size: 19px;
    font-weight: bold;
}

.input-blue {
    background-color: #010080;
    color: #ffffff;
}

.input-small {
    width: 60px;
    height: 20px;
}

.input-medium {
    width: 70px;
    height: 20px;
}

.input-large {
    width: 150px;
    height: 20px;
}

.img-mini {
    height: 20px;
    margin-top: 7px;
}

.img-mini-s {
    height: 17px;
}

.img-small {
    height: 25px;
}

.img-medium {
    height: 80px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 3px;
}

.main-table {
    margin: auto;
    border: 2px inset;
}

.left {
    float: left;
}

.right {
    float: right;
}

.btn {
    margin-top: 2px;
    height: 27px;
    background-color: #f0f0f0;
}

.btn-small {
    width: 45px;
}

.btn-large {
    width: 135px;
}

.btn img {
    height: 20px;
}

.width40p {
    width: 40%;
}

.width20p {
    width: 20%;
}

progress::-webkit-progress-value {
    background-color: #010080;
}

progress::-moz-progress-bar {
    background-color: #010080;
}