*, html, body {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none
}

.container {
    margin: 0 auto;
    padding: 0;
}

.llamab {
    width: 600px;
}

.llamad {
    width: 385px;
}

.llamae {
    width: 485px;
}

.llamaf {
    width: 595px;
}

.header {
    margin-top: 10px;
    padding: 0;
}

#participant {
    padding: 4px;
}

.top-header {
    padding: 10px;
}

.title {
    font-weight: bold;
}

.company {
    font-family: "Comic Sans MS", serif;
}

.options {
}

.padding5-10 {
    padding: 5px 10px;
}

.padding7 {
    padding: 7px;
}

.padding10 {
    padding: 10px;
}

.main {
    margin-top: 7px;
    padding: 5px 10px;
}

.central-controller {
    margin: auto;
}

#pic-name {
    width: 90%;
    height: 25px;
    border: 1px inset;
    background-color: #c0c0c0;
    margin-left: 5%;
    font-weight: bold;
    color: #0007ca;
}

#next {
    margin-top: 5px;
    margin-left: 5%;
}

#e-top-options-left {
    width: 77%;
    float: left;
}

#e-top-options-right {
    width: 23%;
    float: right;
}

#f-top-options-left {
    width: 85%;
    float: left;
    background-color: #f0f0f0;
}

#f-top-options-right {
    width: 10%;
    float: right;
}

#buttons-section-f {
    width: 360px;
    height: 70px;
}

#buttons-section-f ul {
    margin-top: 3px;
}

#buttons-section-f ul li input {
    margin-left: 10px;
    margin-top: 5px;
}

#picture-section-f {
    width: 200px;
    height: 200px;
    border: 1px inset;
}

.buttons-section {
    float: left;
}

.buttons-section input {
    font-family: Cambria, Georgia, serif;
    font-size: 20px;
    font-weight: bold;
    margin-right: 3px;
    margin-bottom: 3px;
}

.font20 {
    font-family: Cambria, Georgia, serif;
    font-size: 20px;
    font-weight: bold;
    margin-right: 3px;
    margin-bottom: 3px;
    color: #000000;
}

.sectionA {
    width: 38%;
}

.sectionB {
    width: 38%;
}

.sectionC {
    width: 24%;
}

.e-main-controller {
    width: 275px;
}

.bottom-controller {
    margin-top: 7px;
    padding: 10px;
}

#status-section {
    width: 60px;
}

#status-section-mini {
    width: 50px;
}

#status {
    border: 1px inset;
    height: 33px;
}

#status img {
    height: 33px;
}

#score {
    border: 1px inset;
    background-color: #c0c0c0;
}

.progress {
    overflow: hidden;
    background-color: #808080;
    -webkit-box-shadow: inset 0 1px 2px rgba(1, 0, 128, 1);
    box-shadow: inset 0 1px 2px rgba(1, 0, 128, 1)
}

.progress-bar-div {
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background-color: #010080;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
    -webkit-transition: width .6s ease;
    -o-transition: width .6s ease;
    transition: width .6s ease
}

.progress.heightNormal {
    height: 19px;
}

.progress.slim {
    height: 10px;
}

.progress-bar {
    border: 1px solid;
    margin-left: 3px;
    background-color: #808080;
}

.progress-bar-width-normal {
    width: 335px;
}

.progress-bar-width-short {
    width: 315px;
}

.progress-bar.slim {
    height: 10px;
}

#progress-result-f {
    width: 350px;
}

#progress-width-f {
    width: 300px;
    margin-top: 5px;
    margin-left: 5px;
}

.footer {
    margin-top: 7px;
    padding: 1px 10px;
    font-size: 13px;
}

.group-border {
    border: 1px outset;
}

.group-border-inset {
    border: 1px inset;
}

.footer p {
    font-weight: bold;
}

.group:after {
    content: "";
    display: table;
    clear: both;
}

.height5 {
    height: 5px;
}

.padding4 {
    padding: 4px;
}

.padding-top55 {
    padding-top: 55px;
}

.padding-top45 {
    padding-top: 45px;
}

.margin-top5 {
    margin-top: 5px;
}

.margin-top7 {
    margin-top: 7px;
}

.margin-top10 {
    margin-top: 10px;
}

.margin-top15 {
    margin-top: 15px;
}

.margin-right5 {
    margin-right: 5px;
}

.margin-right15 {
    margin-right: 15px;
}

.blue {
    background-color: #010080;
}

.grey {
    background-color: #cbcbcb;
}

.grey2 {
    background-color: #c0c0c0;
}

.grey3 {
    background-color: #eeeeee;
}

.yellow {
    background-color: #ffff00;
}

.options input[type=text] {
    font-size: 15px;
    font-weight: bold;
}

.central-controller input[type=text] {
    font-size: 19px;
    font-weight: bold;
}

.input-blue {
    background-color: #010080;
    color: #ffffff;
}

.input-small {
    width: 60px;
    height: 20px;
}

.input-medium {
    width: 70px;
    height: 20px;
}

.input-large {
    width: 150px;
    height: 20px;
}

.img-mini-f {
    height: 18px;
}

.img-mini-e {
    height: 20px;
}

.img-mini {
    height: 20px;
    margin-top: 7px;
}

.img-mini-s {
    height: 19px;
}

.img-small {
    height: 25px;
}

.img-medium {
    height: 80px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 3px;
}

.main-table {
    margin: auto;
    border: 2px inset;
}

.left {
    float: left;
}

.right {
    float: right;
}

.btn {
    height: 25px;
    background-color: #f0f0f0;
}

.btn-mini {
    width: 25px;
    height: 25px;
}

.btn-small {
    width: 45px;
}

.btn-normal {
    width: 52px;
    height: 35px;
}

.btn-large {
    width: 135px;
}

.btn img {
    height: 20px;
}

.width20p {
    width: 20%;
}

.width40p {
    width: 40%;
}

.width100p {
    width: 100%;
}

.btn-height-large {
    height: 33px;
}

progress::-webkit-progress-value {
    background-color: #010080;
}

progress::-moz-progress-bar {
    background-color: #010080;
}

/*style for disabled elements*/
input[type=image]:disabled {
    opacity: 0.7;
    filter: alpha(opacity=70); /* For IE8 and earlier */
}

input[type=button]:disabled {
    opacity: 0.6;
    filter: alpha(opacity=60); /* For IE8 and earlier */
}

button:disabled {
    background-color: rgba(240,240,240,0.6);
}