body .container {
    font-size: 15px;
}

li {
    font-size: 15px;
    margin-top: 8px;
    margin-bottom: 0;
}

li p {
    margin: 0;
}

li span {
    font-size: 14px;
}

.img-mini {
    float: left;
    max-height: 25px;
}

button {
    margin-right: 15px;
}

.left {
    float: left;
}

.padding6 {
    padding: 6px;
}