<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>LLAMA E</title>
    <link rel="stylesheet" href="css/app.css">
    <script src="js/angular-1.5.5/angular.js"></script>
    <script src="js/controllerE.js"></script>
    <script src="js/countdown.js"></script>
</head>
<body ng-app="llamab" class="blue">

<div ng-controller="mainController" class="container llamae">
    <div class="header">
        <div class="top-header grey group">
            <p class="left title">Llama_E</p>
            <sup class="left">v2.0</sup>
            <p class="right company">_lognostics</p>
        </div>

        <div class="options grey2 group padding5-10 margin-top7">
            <div id="e-top-options-left">
                <form name="inputParams">
                    <div class="left padding4">
                        <img src="img/pencilv2.png" class="left img-mini-e"/>
                        <div class="left">
                            <input ng-model="participantName" required id="participantName" type="text"
                                   placeholder="Name"
                                   class="input-large input-blue"/>
                        </div>
                    </div>
                    <div class="right padding4">
                        <img src="img/timer.png" class="left img-mini-e margin-right5"/>
                        <div class="left">
                            <input ng-model="nrOfSeconds" required id="nrOfSeconds" type="number"
                                   class="input-small input-blue margin-right5"/>
                        </div>
                        <button ng-click="inputParams.$valid && start()" id="startBtn" class="btn right btn-small"
                                onclick="startTimer()">
                            <img src="img/start.png">
                        </button>
                    </div>
                </form>
            </div>
            <div id="e-top-options-right">
                <canvas id="timer" width="50" height="50" class="right margin-top5"></canvas>
            </div>
        </div>
    </div>

    <div class="main grey group">
        <div class="group group-border">
            <div class="buttons-section sectionA">
                <ul>
                    <li><input type="button" ng-click="getSound('0')" value="O&igrave;"
                               class="btn left btn-normal sound-btn"/></li>
                    <li><input type="button" ng-click="getSound('1')" value="3&igrave;"
                               class="btn left btn-normal sound-btn"/></li>
                    <li><input type="button" ng-click="getSound('2')" value="9&igrave;"
                               class="btn left btn-normal sound-btn"/></li>
                    <li><input type="button" ng-click="getSound('3')" value="O&egrave;"
                               class="btn left btn-normal sound-btn"/></li>
                    <li><input type="button" ng-click="getSound('4')" value="3&egrave;"
                               class="btn left btn-normal sound-btn"/></li>
                    <li><input type="button" ng-click="getSound('5')" value="9&egrave;"
                               class="btn left btn-normal sound-btn"/></li>
                    <li><input type="button" ng-click="getSound('6')" value="O&ugrave;"
                               class="btn left btn-normal sound-btn"/></li>
                    <li><input type="button" ng-click="getSound('7')" value="3&ugrave;"
                               class="btn left btn-normal sound-btn"/></li>
                    <li><input type="button" ng-click="getSound('8')" value="9&ugrave;"
                               class="btn left btn-normal sound-btn"/></li>
                </ul>
            </div>
            <div class="buttons-section sectionB">
                <ul>
                    <li><input type="button" ng-click="getSound('9')" value="Oi" class="btn left btn-normal sound-btn"/>
                    </li>
                    <li><input type="button" ng-click="getSound('10')" value="3i"
                               class="btn left btn-normal sound-btn"/></li>
                    <li><input type="button" ng-click="getSound('11')" value="9i"
                               class="btn left btn-normal sound-btn"/></li>
                    <li><input type="button" ng-click="getSound('12')" value="Oe"
                               class="btn left btn-normal sound-btn"/></li>
                    <li><input type="button" ng-click="getSound('13')" value="3e"
                               class="btn left btn-normal sound-btn"/></li>
                    <li><input type="button" ng-click="getSound('14')" value="9e"
                               class="btn left btn-normal sound-btn"/></li>
                    <li><input type="button" ng-click="getSound('15')" value="Ou"
                               class="btn left btn-normal sound-btn"/></li>
                    <li><input type="button" ng-click="getSound('16')" value="3u"
                               class="btn left btn-normal sound-btn"/></li>
                    <li><input type="button" ng-click="getSound('17')" value="9u"
                               class="btn left btn-normal sound-btn"/></li>
                </ul>
            </div>
            <div class="buttons-section sectionC">
                <ul>
                    <li><input type="button" ng-click="getSound('18')" value="O&icirc;"
                               class="btn left btn-normal sound-btn"/></li>
                    <li><input type="button" ng-click="getSound('19')" value="3&icirc;"
                               class="btn left btn-normal sound-btn"/></li>
                    <li><input type="button" ng-click="getSound('20')" value="O&ecirc;"
                               class="btn left btn-normal sound-btn"/></li>
                    <li><input type="button" ng-click="getSound('21')" value="3&ecirc;"
                               class="btn left btn-normal sound-btn"/></li>
                    <li><input type="button" ng-click="getSound('22')" value="O&ucirc;"
                               class="btn left btn-normal sound-btn"/></li>
                    <li><input type="button" ng-click="getSound('23')" value="3&ucirc;"
                               class="btn left btn-normal sound-btn"/></li>
                </ul>
            </div>
        </div>

        <div class="group">
            <div id="status-section" class="left padding-top45">
                <div id="status" class="yellow left">
                    <img id="next-action" src="{{data.next_action}}">
                </div>
            </div>
            <div class="left e-main-controller">
                <div class="group margin-top7 padding10 blue">
                    <div class="grey btn-height-large">
                        <button ng-click="process('v1')" id="left-spelling" class="btn left width40p btn-height-large"
                                disabled="disabled">
                            <div class="font20" ng-bind-html="left_spelling"></div>
                        </button>
                        <button ng-click="next()" id="btn-next" class="btn left width20p btn-height-large"
                                disabled="disabled">
                            <img src="img/next.png">
                        </button>
                        <button ng-click="process('v2')" id="right-spelling"
                                class="btn left width40p btn-height-large"
                                disabled="disabled">
                            <div class="font20" ng-bind-html="right_spelling"></div>
                        </button>
                    </div>
                </div>

                <div>
                    <div class="progress slim margin-top10">
                        <div id="progress-result" class="progress-bar-div " role="progressbar">
                        </div>
                    </div>
                </div>
            </div>
            <div class="right padding-top55">
                <div class="left">
                    <input ng-model="score" id="score" type="text" disabled class="input-medium margin-right5"/>
                </div>
                <button class="btn right btn-small" ng-click="close()">
                    <img src="img/end.png">
                </button>
            </div>
        </div>


    </div>

    <footer class="footer grey group">
        <p class="left author"> Paul Meara </p>
        <p class="right">&copy;2005 University of Wales Swansea</p>
    </footer>
</div>

</body>
<script>
    function startTimer() {
        var nrOfSeconds = document.getElementById("nrOfSeconds").value;
        var participantName = document.getElementById("participantName").value;

        if (participantName == null || participantName == "" ||
                nrOfSeconds == null || nrOfSeconds == "") {
            return false;
        }
        startTimerCanvas(nrOfSeconds);
    }
</script>
</html>